// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$tag: #07617D;
$check: #6DB193;
$quit: #DD3E3E;
$green: #307672;
$orange: #DB8A6F;
