// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

=======
@import url('https://fonts.googleapis.com/css?family=Baloo|Days+One|Fredoka+One|Righteous|Rock+Salt');
>>>>>>> c7c06d58fa40c86ec7c339ee4a924381b16eb869
// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$testimonials-title: "Baloo", "cursive";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
