.promise-photo {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: .8;
  border-radius: 6px;
}

.icons {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  color: #ECECEB;
}

.meg {
  background-color: white;
  padding: 50px;
  height: 450px;
  border-radius: 5px;
  border: 3px solid gray;
}
.card-dashboard {
  padding: 50px;
  height: 300px;
  border-radius: 2px;


}
.body {
  background-color: #FEFFFE;
}
.container-2 {
  position: relative;
  height: 300px;
}
.promise-status {
  position: absolute;
  top: 2px;
  right: 2px;
}
