.banner-home {
  background-color: black;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

input[type=text].title-input {
  background-color: black;
  color: white;
  border: hidden;
  box-shadow: none;
  font-size: 40px;
  text-align: center;
}

textarea.form-control.description-input {
  background-color: black;
  color: white;
  border: hidden;
  box-shadow: none;
  font-size: 40px;
  text-align: center;
}


.promise {
  display: none;
}

.promise.active {
  display: flex !important;
  align-items: center;
}


a {
  font-size: 40px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
    color: white;
    text-decoration: none;
    opacity: .7;
  }
