.banner-home {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.glyphicon-camera{
  font-size: 40px;
  padding: none;
}

#promise_description{
  background-color: transparent;
  color: white;
  border: hidden;
  box-shadow: none;
  font-size: 35px;
  text-align: center;
  width: 100%;
  height: 50px;
}

.promise-file-button{
  width: 70vw;
}

input[type=text].title-input {
  background-color: transparent;
  color: white;
  border: hidden;
  box-shadow: none;
  font-size: 35px;
  text-align: center;
  width: 100%;
}

.input[type=submit] {
  background-color: transparent;
  width: 70vw;
}

.select2-container--bootstrap .select2-selection--multiple {
  background-color: transparent;
  color: $green;
  box-shadow: none;
  border: 1px solid white;
}



.select2-selection__rendered {
  margin-bottom: 70px;
}
.input.select2-search_field {
  width: 100%;
}

.promise {
  display: none;
}

.next {
 padding-top: 26px;
 padding-bottom: 26px;
}

.previous{
  padding-top: 26px;
 padding-bottom: 26px;
}

.promise.active {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p {
    font-weight: bold
  }
}


a {
  font-size: 40px;
  color: $green;
  padding-left: 15px;
  padding-right: 15px;
}

a:hover {
    color: $green;
    text-decoration: none;
    opacity: .7;
  }

#submit-glyph {
  display: none;
}
