
.card {
  background-color: #242329;
  font-family: "Roboto", "sans-serif";
  color:white;
  border: 2px solid black;
  box-shadow: 0px 0px 6px 3px black 0 30px 20px -15px black;
  overflow: hidden;

  height: auto;
  padding-bottom: 30px;

  .promise-flipclock{
    display:flex;
    justify-content: center;
  }

  .show-image{
    height: 35vh;
    width: 100%;
  }

  .avatar-main{
      margin-top: -5vh;
      margin-left: 3vh;
      height: 10vh;
      width: auto;
      border-radius: 50px;
      border:1px solid grey;
  }

  .promise-title{
    border: 1px solid #EB942F;
    border-radius:20px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
  }

  .promise-description{
    font-size: 12px;
    text-align: justify;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .show-witnesses-title{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  .show-avatars{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin-top: 20px;

    .show-witness{
      .caption{
        text-align: center;
      }
    }

    .avatar-witness{
      height: 45px;
      width: auto;
      border-radius: 50px;
      border:1px solid black;
    }

    .avatar-tempwitness{
      opacity: 0.4;
      height: 45px;
      width: auto;
      border-radius: 50px;
      border:1px solid black;
    }

    .avatar-marked{
      border:1px solid green;
    }
  }
}

