body {
  background-color: #4c4f52;

}


.card {
  color:white;
  border: 2px solid black;
  box-shadow: 0px 0px 6px 3px black 0 30px 20px -15px black;
  overflow: hidden;
  margin: 20px;
}


.show-avatars{
  display: flex;
  justify-content: space-around;
  .avatar{
    height: 10vh;
    width: auto;
    border-radius: 50px;
    border:1px solid black;

  }
  .avatar-witness{
  }

  .avatar-tempwitness{
    opacity: 0.4;
  }

  .avatar-marked{
    border:1px solid green;
  }
}


