<div class="banner-home" style="background-image: url(<%= ['https://kep.index.hu/1/0/1844/18445/184451/18445143_1133435_b06e4281db6835eb9bf78381387ee44a_wm.jpg', 'https://wallpapercave.com/wp/EOAnbA2.jpg', 'http://cdn.revistadonna.clicrbs.com.br/wp-content/uploads/2015/06/favela.jpg', 'http://www.xacotrans.com/wp-content/uploads/2016/06/peregrino.jpg', 'https://images.onmogul.com/uploads/story/thumbnail/95935/275a22fc06.jpg?ixlib=rails-0.3.2&ch=Width%2CDPR&fit=crop&h=465&w=820&s=6edd39b4fb1dd3f7c18f59a6c464b4cf'].sample %>)">
</div>
<div class="coompleted-promises col-xs-12 col-md-4">
  <h2>Check your past promises</h2>
  <div class="cards-dashboard" style="height: 250px;">
    <!-- Code your cards  here -->
    <% @promises.sample(3).each do |p|%>
    <div class="card">
      <div class="card-body" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbfNVP40B4E0eKN2YcmOdhKI_R2QPHmrderSUEeHsne5e56yag');">


        <div class="card-description" style="margin-left: 15px;">
         <h3 style="height: 250px;"> I will stop smoking </h3>

         <div class="card-content">
          <h4>lorem impsum modus tolem porque me invento cosas no se ni hacer un lorem ipsum bu jakarta iria hacía smyrne turkia, el dia de el tuerkey</h4>
        </div>
        <div class="stamp">
          <%= image_tag (['broken-stamp.png','completed-stamp.jpg'].sample) , height: 150 ; %>
         <!--  Both completed green stamp & red broken stamp -->
       </div>
       <div class="more">
         <button>Read More</button>
       </div>
       <div class="deadline" style="color: #FFFFFF">
         <%= p.deadline %>
       </div>
       <div>
       </div>
     </div>

   </div>
   <% end %>
 </div>





