<div class="banner-home" style="background-image: url(<%= ['https://kep.index.hu/1/0/1844/18445/184451/18445143_1133435_b06e4281db6835eb9bf78381387ee44a_wm.jpg', 'https://wallpapercave.com/wp/EOAnbA2.jpg', 'http://cdn.revistadonna.clicrbs.com.br/wp-content/uploads/2015/06/favela.jpg', 'http://www.xacotrans.com/wp-content/uploads/2016/06/peregrino.jpg', 'https://images.onmogul.com/uploads/story/thumbnail/95935/275a22fc06.jpg?ixlib=rails-0.3.2&ch=Width%2CDPR&fit=crop&h=465&w=820&s=6edd39b4fb1dd3f7c18f59a6c464b4cf'].sample %>)">
</div>





