<h1>This is the dashboard</h1>

<div class="container">
  <div class="col-xs-6 meg">
  <%= @promises.first.description %>

  <div class="promise-photo">
    <%= image_tag "drunk.jpg", alt: "promise photo", class: "promise-photo text-center"%>
    <div class="icons">
      <i class="fa fa-child fa-2x"></i>
      <i class="fa fa-check fa-2x"></i>
      <i class="fa fa-couch fa-2x"></i>
    </div>
  </div>
</div>
</div>
