<div class="container">
  <div class="row">

  <% @mypromises.each do |promise| %>
  <div class="col-xs-12 col-md-6 meg">
      <%@promise = promise  %>
      <%= render 'shared/promiseshow' %>
  </div>
    <% end %>
</div>
</div>

