.index-banner{
  font-family: "Ubuntu";
  color: grey;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 30vw 15vw 30vw 1fr;
  grid-template-rows: 36vh 10vh 8vh 10vh 5vh 31vh;
}

.form-control{
  color: black;
  font-weight: bold;
}

.form-control::-moz-placeholder {
  color: #000;
}
.form-control:-ms-input-placeholder {
  color: #000;
}
.form-control::-webkit-input-placeholder {
  color: #000;
}

input[type=text].title-input {
  background-color: transparent;

  border: hidden;
  box-shadow: none;
  font-family: "Ubuntu";
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

#promise_description{
  background-color: transparent;

  border: hidden;
  box-shadow: none;
  font-family: "Ubuntu";
  font-size: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
}

.select2-container--bootstrap .select2-selection--multiple {
  background-color: transparent;

  box-shadow: none;
  border: none;
  width: 100%;
}


.promise_temp_witnesses{
  background-color: transparent;

  border: hidden;
  box-shadow: none;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 0;
}


.input[type=submit] {
  background-color: transparent;
  width: 70vw;
}

a:hover {
    color: $green;
    text-decoration: none;
    opacity: .7;
  }

.new_promise{
  font-size: 15px;
  font-family: "Ubuntu";
  border: 2px solid $green;
  border-radius: 20px;
  grid-row: 3;
  grid-column: 2 /span 3;
  text-align: center;
}
.glyphicon{
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
  color: $green;
}
#next{
  grid-row: 4;
  grid-column: 3;
  align-self: flex-end;

}
#previous{
  grid-row: 2;
  grid-column: 3;
}

#submit{
  grid-row: 4;
  grid-column: 3;
  align-self: flex-end;
}

.hideyourself{
  display: none;
}
