.testimonials-wrapper {
  background-color: white;
  .title-testimonials {
    padding-bottom: 40px;
    font-family: $testimonials-title;
    font-size: 43px;
    letter-spacing: -4px
  }
}

.testimonial {
  li {
    display: inline;
  }
}
