<div class="story-wrapper">
  <div class="container">
  <p><strong>A</strong>bout one year ago, a good friend of Georges made the foolish promise to make a barbecue party for all his mates on the first day of Summer. Weekends  passed, but that day never came, leaving Georges in tears and a clean conscience on his friend.</p>
  <p>George thought that things had to change. No longer should promises fall on an empty sack! People should stand by their words or fail shamefully in front of their circle of friends!</p>
  <p>The PromiseKeeper is here to make it happen.</p>
  </div>
</div>
