<div class="story-wrapper">
  <div class="container">
    <hr>
  <p>A promise is an empty currency nowadays. Fathers miss their sons plays, friends skip a barbecue party , brides are left at the altar.
   </p>
   <p> With the PromiseKeeper you can show real commitment and use your friends as witnesses! </p>
  <hr>
  </div>
</div>
