<% content_for :for_head do %>
<meta property="og:url" content="<%= request.original_url %>"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= @promise.title %>" />
<meta property="og:description" content="<%= @promise.description %>" />
<meta property="og:image" content="https://source.unsplash.com/random/400x300" />
<meta property="fb:app_id" content="2145568188997361" />
<% end %>


<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= render 'shared/promiseshow' %>
  </div>
</div>






