<% content_for :for_head do %>
<meta property="og:url" content="<%= request.original_url %>"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= @promise.title %>" />
<meta property="og:description" content="<%= @promise.description %>" />
<meta property="og:image" content="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fada82e527ef9eeaa1faed34043b425b&auto=format&fit=crop&w=967&q=80" />
<meta property="fb:app_id" content="2145568188997361" />
<% end %>


<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= render 'shared/promiseshow' %>
  </div>
</div>






